body{
  background-color: rgb(240,242,245);
}

.mainBodyWrapper{
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mainBody{
  width: 100%;
  position: relative;
  float: left;
  height: 100%;
  overflow: scroll;
}

/* .tt{
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  background-color: #fff;
} */

.mainBodyW{
  width: 80%;
  overflow: hidden;
}